$bgrc: #000080;
$bgrc2: #2e2eff;
$bgrc3: #0f8ac4;
$tc: #fff;
$tc2: rgb(255, 181, 108);
$tc3: rgb(165, 82, 0);
$anim1_time: 6s;
$anim2_time: .5s;


:root {
    --anim1_time: 6s;
    --anim2_time: .5s;
}


@import url('fonts.css');
@import url('fonts2.css');

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait-and-below {
    @media (max-width: 899px) {
        @content;
    }
}

@mixin for-tablet-landscape-and-below {
    @media (max-width: 1199px) {
        @content;
    }
}

@mixin for-desktop-and-below {
    @media (max-width: 1799px) {
        @content;
    }
}

@mixin for-big-desktop-only {
    @media (min-width: 1800px) {
        @content;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes animButton {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(3);
        opacity: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

//font-family: 'icomoon';

body {
    font-size: 14px;
    color: $tc;
    scroll-behavior: smooth;

    &.lock {
        overflow: hidden;
    }

    header.header {
        background-image: url('../img/bgr.jpg');
        background-color: $bgrc3;
        background-size: 400px 400px;
        background-blend-mode: multiply;
        height: 200px;
        z-index: 1;
        height: 100px;

        @include for-phone-only {
            height: 65px;
        }

        .header-container {
            max-width: 1020px;
            width: 100%;
            margin: 0px auto;
            padding: 0 10px;
            box-sizing: border-box;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .header__logobox {
                display: flex;
                align-items: center;
                position: relative;
                overflow: hidden;
                border-radius: 10px;

                .header__logo {
                    max-width: 80px;
                    margin-right: 20px;
                    z-index: 2;

                    @include for-phone-only {
                        max-width: 60px;
                        margin-right: 5px;

                    }

                    img {
                        width: 100%;
                        border-radius: 0 10px 10px 0;
                        display: block;
                    }
                }

                .header__logohover {
                    position: absolute;
                    top: 50%;
                    left: -100%;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;
                    transform: translateY(-50%);
                    background-color: #ffb56c;
                    border-radius: 10px;
                    align-items: center;
                    transition: .3s;
                    z-index: 1;

                    @include for-phone-only {
                        display: none;
                    }

                    &.show {
                        left: 0;
                    }

                    div {
                        max-height: 45px;
                        max-width: 45px;
                        margin: 0px 8px;

                        img {
                            max-height: 45px;
                        }
                    }
                }

                .header__logotitle {
                    overflow: hidden;
                    position: relative;

                    @include for-phone-only {
                        display: none;
                    }

                    &:hover {
                        .block1 {
                            transform: translateY(-100%);
                        }

                        .block2 {
                            transform: translateY(-100%);

                        }
                    }

                    .header__logotitle-block {
                        transition: .3s;
                        font-size: 24px;

                        &.block1 {
                            position: relative;

                        }

                        &.block2 {
                            position: absolute;
                        }
                    }
                }
            }

            .header__links {
                align-self: stretch;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-end;

                @include for-tablet-portrait-and-below {
                    flex-direction: row;
                    align-items: stretch;
                }

                .header__menu {
                    overflow: hidden;
                    z-index: 100;

                    @include for-tablet-portrait-and-below {
                        z-index: 10;
                        //overflow: hidden;
                        position: fixed;
                        left: 0;
                        top: 100px;
                        width: 100%;
                        height: 0%;
                        color: #000;
                        background-color: rgb(255, 255, 255);
                        transition: .3s;

                        &.active {
                            height: calc(100vh - 100px);

                            @include for-phone-only {
                                height: calc(100vh - 65px);
                            }

                        }

                    }

                    @include for-phone-only {
                        top: 65px;
                    }

                    .header__menu-inner {
                        display: flex;
                        height: 100%;
                        align-items: center;

                        @include for-tablet-portrait-and-below {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: calc(100vh - 100px);
                            //height: 100%;
                            flex-direction: column;
                            align-items: center;
                            justify-content: flex-start;
                        }

                        @include for-phone-only {
                            height: calc(100vh - 65px);
                        }

                        .header__menu-item {
                            display: block;
                            padding: 10px 15px;
                            text-decoration: none;
                            font-family: 'Roboto', sans-serif;
                            font-size: 20px;
                            color: #fff;
                            position: relative;
                            transition: .3s;
                            cursor: default;

                            @media (min-width: 900px) {

                                &:before {
                                    position: absolute;
                                    content: '';
                                    display: block;
                                    width: 0%;
                                    height: 2px;
                                    background-color: $tc2;
                                    bottom: 0px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    transition: .2s;
                                }

                                &.header__menu-item-selected {

                                    &:before {
                                        width: 50%;
                                    }
                                }

                                &.header__menu-item-notSelected {
                                    cursor: pointer;

                                    &:nth-child(1):after {
                                        content: 'Главная';
                                    }

                                    &:nth-child(2):after {
                                        content: 'Обо мне';
                                    }

                                    &:nth-child(3):after {
                                        content: 'Услуги';
                                    }

                                    &:nth-child(4):after {
                                        content: 'Портфолио';
                                    }

                                    &:nth-child(5):after {
                                        content: 'Заказать';
                                    }

                                    &:nth-child(6):after {
                                        content: 'Контакты';
                                    }

                                    &:after {
                                        display: block;
                                        position: absolute;
                                        width: 100%;
                                        height: 100%;
                                        top: 0;
                                        left: 0;
                                        font-family: 'Roboto', sans-serif;
                                        font-size: 20px;
                                        background-color: $tc2;
                                        color: $bgrc;
                                        line-height: 44px;
                                        text-align: center;
                                        transition: .3s;
                                        transform: scaleY(0);
                                        transform-origin: top;
                                    }

                                    &:hover:after {
                                        transform: scaleY(1);
                                    }

                                }

                            }

                            @include for-tablet-portrait-and-below {
                                font-size: 36px;
                                display: inline-block;
                                width: 100%;
                                text-align: center;
                                padding: 15px 0px;
                                cursor: pointer;
                                color: $bgrc;
                                background-color: #fff;
                                transition: .3s;
                                border-bottom: 2px solid $bgrc;
                            }

                        }
                    }
                }

                .header__contacts {
                    display: flex;
                    //justify-content: end;
                    font-family: 'icomoon';
                    padding-right: 15px;

                    @include for-tablet-portrait-and-below {
                        flex-direction: column;
                        justify-content: space-evenly;
                        padding-right: 0px;
                    }

                    .header__contacts-item {
                        text-decoration: none;
                        padding-left: 15px;
                        display: flex;
                        align-items: center;

                        @media (min-width: 900px) {
                            &:first-child {
                                margin-right: 35px;
                            }
                        }


                        &:first-child .header__contacts-item-before:before {
                            content: "\f095";
                        }

                        &:last-child .header__contacts-item-before:before {
                            content: "\f003";
                        }

                        &:hover {
                            .header__contacts-item-text {
                                color: $tc2;
                            }

                            .header__contacts-item-before {
                                animation: rotate .15s;
                                animation-fill-mode: forwards;
                                animation-iteration-count: 4;
                            }
                        }

                        .header__contacts-item-before {
                            margin-right: 5px;

                            &:before {
                                font-family: 'icomoon';
                                font-size: 24px;
                                color: lime;
                            }
                        }

                        .header__contacts-item-text {
                            font-family: 'Roboto', sans-serif;
                            font-size: 16px;
                            color: #ffffff;
                            transition: .3s;
                        }

                        @include for-tablet-portrait-and-below {
                            padding-left: 0;
                        }

                    }

                }

                .header__burger {
                    align-self: center;
                    display: none;
                    width: 60px;
                    height: 45px;
                    position: relative;
                    margin-left: 10px;
                    cursor: pointer;

                    @include for-tablet-portrait-and-below {
                        display: block;
                    }

                    span {
                        position: absolute;
                        left: 0;
                        top: 19.5px;
                        width: 60px;
                        height: 6px;
                        border-radius: 3px;
                        background-color: #fff;
                        transition: .3s;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 60px;
                        height: 6px;
                        border-radius: 3px;
                        background-color: #fff;
                        transition: transform .3s;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 60px;
                        height: 6px;
                        border-radius: 3px;
                        background-color: #fff;
                        transition: transform .3s;
                    }

                    &.active {

                        span {
                            transform: scale(0);
                        }

                        &:before {
                            transform: rotate(135deg) scale(1) translate(13.79px, -13.7px);
                        }

                        &:after {
                            transform: rotate(-135deg) scale(1) translate(13.79px, 13.7px);
                        }
                    }
                }
            }
        }
    }

    section.content {

        @include for-tablet-portrait-and-below {
            height: calc(100vh - 100px);
            overflow: auto;
            scroll-behavior: smooth;
        }

        @include for-phone-only {
            height: calc(100vh - 65px);
        }

        .jump-top {
            display: none;
            position: fixed;
            bottom: 10px;
            right: 10px;
            width: 50px;
            height: 50px;
            cursor: pointer;
            background-color: rgba(122, 122, 122, 0.521);
            z-index: 1000;
            transition: .3s;

            &:hover {
                background-color: rgba(0, 0, 0, 0.5);
            }

            &:after {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                content: "\f062";
                font-family: 'icomoon';
                font-size: 40px;
                color: rgba(0, 0, 0, 0.507);
                transition: .3s;
            }

            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                content: "";
                font-size: 40px;
                color: rgba(0, 0, 0, 0.507);
                transition: .3s;
            }

            &:hover:after {
                color: rgba(255, 255, 255, 0.541);
            }

            @media (max-width: 899px) {
                display: none;
            }
        }

        section.home {
            height: calc(100vh - 100px);
            //background-image: url('../img/home-bgr.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            position: relative;

            @include for-phone-only {
                height: calc(100vh - 65px);
            }

            .home__titlebox {
                height: calc(100vh - 250px);
                position: relative;

                .home__titlebox-inner {
                    max-width: 1020px;
                    width: 100%;
                    height: 100%;
                    margin: 0px auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    h1.home__titlebox-title {
                        max-width: 50%;
                        color: $bgrc;
                        font-size: 30px;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .home__titlebox-word {
                            background-color: #fff; //$tc2;
                            padding: 0px 10px;
                            position: relative;
                            left: -1000%;

                            &:not(:last-child) {
                                margin-bottom: 5px;
                            }
                        }

                    }

                }

                @include for-phone-only {
                    height: calc(100vh - (150px + 65px));
                }

                .home__slider {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    z-index: -1;

                    .home__slider-item {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-attachment: fixed;

                        @for $i from 1 through 6 {
                            &:nth-child(#{$i}) {
                                background-image: url('../img/home-bgr/home-bgr'+ $i + '.jpg');
                                //z-index: -$i;
                            }
                        }

                        &.anim1 {
                            transition: transform $anim1_time linear;
                            transform: scale(1.2);
                        }

                        &.anim2 {
                            transition: $anim2_time linear;
                            transform: scale(1);
                            opacity: 0;
                        }

                    }

                }
            }

            .home__descbox {
                background-image: url('../img/bgr.jpg');
                background-color: $bgrc3;
                background-size: 400px 400px;
                background-blend-mode: multiply;
                height: 150px;
            }


        }

        section.about {
            height: 100vh;
            box-sizing: border-box;
            background-image: url('../img/about-bgr.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            position: relative;

            @include for-tablet-portrait-and-below {
                height: calc(100vh - 100px);
            }

            @include for-phone-only {
                height: calc(100vh - 65px);
            }

            &.adaptive {
                height: auto;
                padding-top: 100px;
            }

            .about__description {
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                background-image: url('../img/bgr.jpg');
                background-color: $bgrc3;
                background-size: 400px 400px;
                background-blend-mode: multiply;

                &.adaptive {
                    position: static;
                }

                .about__description-inner {
                    max-width: 1120px;
                    box-sizing: border-box;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;

                    .about__title {
                        text-transform: uppercase;
                        font-size: 30px;
                        color: #FFF;
                        font-weight: 700;
                        padding: 20px 10px;
                        margin: 0px 10px;
                    }

                    .about__text {
                        font-size: 20px;
                        color: #FFF;
                        font-weight: 400;
                        padding: 0px 10px 10px;
                        margin: 0px 10px;
                        text-indent: 40px;

                        a {
                            //text-decoration: none;
                            color: $tc2;
                        }
                    }

                    .about__achievements {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: flex-start;
                        flex-wrap: wrap;
                        box-sizing: border-box;

                        .about__achievements-item {
                            border-radius: 2px;
                            overflow: hidden;
                            margin: 0px 5px 10px;

                            &.load {
                                position: relative;

                                &:before {
                                    position: absolute;
                                    content: '';
                                    display: block;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background-color: rgba(0, 0, 0, 0.75);
                                    z-index: 10;
                                }

                                &:after {
                                    position: absolute;
                                    content: url('../img/oval.svg');
                                    display: block;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    //width: 100%;
                                    //height: 100%;
                                    z-index: 11;
                                }
                            }

                            &:hover {
                                img {
                                    transform: scale(1.42);
                                    cursor: pointer;
                                    //transform-origin: 50% 20%;
                                }

                            }

                            img {
                                max-height: 200px;
                                display: block;
                                transition: .3s;
                            }
                        }

                    }

                }

            }

        }

        section.services {
            height: 100vh;

            @include for-tablet-portrait-and-below {
                height: auto;
            }

            .services__title {
                width: 100%;
                background-image: url('../img/services-brg.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;

                .services__title-inner {
                    max-width: 1120px;
                    width: 100%;
                    margin: 0px auto;
                    text-transform: uppercase;
                    font-size: 30px;
                    color: #000;
                    font-weight: 700;
                    padding: 0px 30px;
                    box-sizing: border-box;
                    height: 78px;
                    line-height: 78px;
                }
            }

            .services__items {
                height: calc(100vh - 78px);
                background-image: url('../img/bgr.jpg');
                background-color: $bgrc3;
                background-size: 400px 400px;
                background-blend-mode: multiply;

                @include for-tablet-portrait-and-below {
                    height: auto;
                }

                .services__items-inner {
                    max-width: 1120px;
                    height: 100%;
                    width: 100%;
                    padding: 10px 10px;
                    box-sizing: border-box;
                    margin: 0 auto;
                    display: grid;
                    grid-gap: 10px;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;

                    @include for-tablet-portrait-and-below {
                        grid-template-columns: 1fr;
                        grid-template-rows: repeat(4, auto);
                    }

                    .services__item {
                        border-radius: 10px;
                        background-color: #fff;
                        display: flex;
                        flex-direction: column;
                        padding-bottom: 10px;

                        &:nth-child(3) {

                            //align-items: center;
                            .services__item-img {
                                align-self: center;
                            }

                        }

                        .services__item-titlebox {
                            display: flex;
                            align-items: center;
                            margin: 0 15px;

                            .services__item-title-icon {
                                max-width: 40px;

                                img {
                                    display: block;
                                    max-width: 100%;
                                }
                            }

                            .services__item-title {
                                text-align: center;
                                padding: 15px 0;
                                font-size: 20px;
                                color: $tc3;
                                margin-left: 10px;
                            }
                        }

                        .services__item-img {
                            flex-grow: 1;
                            position: relative;
                            display: flex;
                            justify-content: center;
                            margin: 0 20px 10px;

                            &.services__item-img0,
                            &.services__item-img1,
                            &.services__item-img2,
                            &.services__item-img3 {
                                position: relative;

                                @include for-tablet-portrait-and-below {
                                    min-height: 300px;
                                    height: 100%;
                                }

                                img {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    max-height: 100%;
                                    max-width: 100%;
                                    display: block;
                                }
                            }

                            &.services__item-img0 {
                                img {
                                    transition: opacity .3s;
                                }
                            }

                            &.services__item-img2 {
                                img {
                                    opacity: 0;
                                }
                            }

                            &.services__item-img3 {
                                border: 3px solid transparent;

                                img {
                                    display: block;
                                    transition: none;

                                    &:hover {
                                        border: 3px solid black;
                                        cursor: pointer;
                                    }
                                }

                                &.load {
                                    position: relative;

                                    &:before {
                                        position: absolute;
                                        content: '';
                                        display: block;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        background-color: rgba(0, 0, 0, 0.75);
                                        z-index: 10;
                                    }

                                    &:after {
                                        position: absolute;
                                        content: url('../img/oval.svg');
                                        display: block;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        z-index: 11;
                                    }
                                }

                            }


                            img {
                                max-height: 100%;
                                max-width: 100%;
                                display: block;
                            }

                            .img-wrapper {
                                img {
                                    max-width: 100%;
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                }
                            }
                        }

                        .services__item-text {
                            color: #000000;
                            padding: 0 20px;

                            .services__item-subtext {
                                display: flex;
                                justify-content: space-evenly;
                                padding: 5px 20px 0px;

                                img {
                                    max-width: 100%;
                                    display: block;
                                    max-height: 25px;
                                    margin: 0px 2px;
                                }
                            }
                        }
                    }
                }
            }
        }

        section.portfolio {
            max-width: 1120px;
            box-sizing: border-box;
            //padding: 0px 10px;
            margin: 0 auto;
            background-color: #fff;
            position: relative;

            .portfolio__title {
                display: flex;

                .portfolio__burger {
                    align-self: center;
                    display: none;
                    width: 60px;
                    height: 45px;
                    position: relative;
                    margin-left: 10px;
                    cursor: pointer;

                    @include for-tablet-portrait-and-below {
                        display: block;
                    }

                    span {
                        position: absolute;
                        left: 0;
                        top: 19.5px;
                        width: 60px;
                        height: 6px;
                        border-radius: 3px;
                        background-color: $tc3;
                        transition: .3s;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 60px;
                        height: 6px;
                        border-radius: 3px;
                        background-color: $tc3;
                        transition: transform .3s;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 60px;
                        height: 6px;
                        border-radius: 3px;
                        background-color: $tc3;
                        transition: transform .3s;
                    }

                    &.active {

                        span {
                            transform: scale(0);
                        }

                        &:before {
                            transform: rotate(135deg) scale(1) translate(13.79px, -13.7px);
                        }

                        &:after {
                            transform: rotate(-135deg) scale(1) translate(13.79px, 13.7px);
                        }
                    }
                }

                .portfolio__title-text {
                    text-transform: uppercase;
                    font-size: 30px;
                    color: #000;
                    font-weight: 700;
                    padding: 20px 10px;
                    margin: 0px 10px;

                    span:last-child {
                        text-transform: none;
                        font-style: italic;
                        font-size: 24px;
                        font-weight: 400;
                        color: $tc3;
                    }
                }

            }

            .portfolio__menu {
                height: 48px;
                margin: 0px 10px;
                box-sizing: border-box;
                z-index: 1;


                @include for-tablet-portrait-and-below {
                    position: absolute;
                    top: 76px;
                    left: 0;
                    height: 0;
                    margin: 0;
                    width: 100%;
                    overflow: hidden;
                    transition: .3s;

                    &.active {
                        height: 195px;
                    }
                }

                nav.portfolio__menu-inner {
                    display: grid;
                    grid-template-columns: repeat(6, auto);
                    width: 100%;
                    height: 100%;

                    @include for-tablet-portrait-and-below {
                        display: block;
                        height: auto;
                        //width: auto;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }

                    .portfolio__menu-item {
                        cursor: pointer;
                        font-size: 15px;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: $bgrc;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        background-color: #ccc;
                        transition: .2s;
                        position: relative;

                        @include for-tablet-portrait-and-below {
                            text-align: left;
                            font-size: 20px;
                            padding: 10px 0px;
                            justify-content: start;
                            padding-left: 10px;
                        }

                        &.active {
                            background-color: $bgrc;
                            color: #ffffff;

                            .blockl1 {
                                border-top: 6px solid $bgrc;
                                border-right: 6px solid $bgrc;
                            }

                            .blockl2 {
                                border-right: 12px solid $bgrc;
                            }

                            .blockl3 {
                                border-right: 6px solid $bgrc;
                                border-bottom: 6px solid $bgrc;
                            }

                            .blockr1 {
                                border-left: 12px solid $bgrc;
                            }

                            .blockr2 {
                                border-left: 12px solid $bgrc;
                            }

                        }

                        &:not(:first-child) {
                            margin-left: 7px;

                            @include for-tablet-portrait-and-below {
                                margin-left: 0px;
                            }
                        }

                        &:not(:last-child) {
                            margin-right: 7px;

                            @include for-tablet-portrait-and-below {
                                margin-right: 0px;
                            }
                        }

                        &:hover {
                            background-color: $bgrc2;
                            color: #ffffff;

                            .blockl1 {
                                border-top: 6px solid $bgrc2;
                                border-right: 6px solid $bgrc2;
                            }

                            .blockl2 {
                                border-right: 12px solid $bgrc2;
                            }

                            .blockl3 {
                                border-right: 6px solid $bgrc2;
                                border-bottom: 6px solid $bgrc2;
                            }

                            .blockr1 {
                                border-left: 12px solid $bgrc2;
                            }

                            .blockr2 {
                                border-left: 12px solid $bgrc2;
                            }

                        }

                        .blockl1 {
                            position: absolute;
                            width: 0;
                            height: 0;
                            top: 0;
                            left: 0;
                            transform: translateX(-100%);
                            border-top: 6px solid #ccc;
                            border-right: 6px solid #ccc;
                            border-left: 6px solid transparent;
                            border-bottom: 6px solid transparent;
                            transition: .2s;
                        }

                        .blockl2 {
                            position: absolute;
                            width: 0;
                            height: 0;
                            top: 0;
                            left: 0;
                            transform: translate(-100%, 50%);
                            border-right: 12px solid #ccc;
                            border-top: 12px solid transparent;
                            border-left: 12px solid transparent;
                            border-bottom: 12px solid transparent;
                            transition: .2s;
                        }

                        .blockl3 {
                            position: absolute;
                            width: 0;
                            height: 0;
                            bottom: 0;
                            left: 0;
                            transform: translate(-100%, 0%);
                            border-right: 6px solid #ccc;
                            border-bottom: 6px solid #ccc;
                            border-top: 6px solid transparent;
                            border-left: 6px solid transparent;
                            transition: .2s;
                        }

                        .blockr1 {
                            position: absolute;
                            width: 0;
                            height: 0;
                            top: 0;
                            right: 0;
                            transform: translateX(100%);
                            border-left: 12px solid #ccc;
                            border-top: 12px solid transparent;
                            border-right: 12px solid transparent;
                            border-bottom: 12px solid transparent;
                            transition: .2s;
                        }

                        .blockr2 {
                            position: absolute;
                            width: 0;
                            height: 0;
                            bottom: 0;
                            right: 0;
                            transform: translateX(100%);
                            border-left: 12px solid #ccc;
                            border-top: 12px solid transparent;
                            border-right: 12px solid transparent;
                            border-bottom: 12px solid transparent;
                            transition: .2s;
                        }

                        .blockl1,
                        .blockl2,
                        .blockl3,
                        .blockr1,
                        .blockr2 {
                            @include for-tablet-portrait-and-below {
                                display: none;
                            }

                        }
                    }
                }


            }

            .portfolio__items {
                display: flex;
                flex-wrap: wrap;
                margin: 0px 5px 10px;
                position: relative;


                .portfolio__item {
                    height: 200px;
                    //max-width: calc(25% - 10px);
                    width: 100%;
                    background-color: red;
                    //margin: 5px;
                    overflow: hidden;
                    border-radius: 10px;
                    position: absolute;
                    transition: .3s;

                    &:hover {
                        .portfolio__item-hover {
                            opacity: 1;

                            .portfolio__item-hover-title {
                                left: 0;
                            }
                        }

                        img {
                            transform: scale(1.1);
                        }


                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: .3s;
                    }

                    .portfolio__item-hover {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.7);
                        opacity: 0;
                        transition: .3s;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;

                        .portfolio__item-hover-title {
                            font-size: 18px;
                            color: #ffffff;
                            margin-top: 10px;
                            padding: 0px 10px;
                            text-align: center;
                            position: relative;
                            left: -100%;
                            transition: .2s;
                        }

                        .portfolio__item-hover-button {
                            position: absolute;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: #1149c2;
                            z-index: 2;
                            bottom: 25px;
                            right: 25px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 35px;
                            color: #ffffff;
                            cursor: pointer;

                            .portfolio__item-hover-button-inner {
                                z-index: 1;

                                &:before {
                                    position: absolute;
                                    top: -5px;
                                    left: 0;
                                    font-family: 'icomoon';
                                    font-size: 53px;
                                    content: "\f00e";
                                    color: $tc2;
                                }
                            }

                            &:before,
                            &:after {
                                content: '';
                                top: 0;
                                left: 0;
                                border-radius: 50%;
                                position: absolute;
                                width: 40px;
                                height: 40px;
                                background-color: #1149c2;
                                animation: animButton 1.25s infinite;

                            }

                            &:after {

                                animation: animButton 1.25s .25s infinite;
                            }

                        }
                    }
                }
            }

            .portfolio__modal {
                position: fixed;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                background-color: rgba(1, 22, 0, 0.9);
                z-index: 5;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1000;

                .portfolio__modal-slider {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                #modalSliderNew {
                    transform: scale(0);
                    transition: .4s;

                    &.active {
                        transform: scale(1);
                    }

                    img.only {
                        max-width: 100%;
                    }
                }

                .portfolio__modal-close {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 60px;
                    height: 60px;
                    //border-radius: 0 0 0 5px;
                    background-color: $tc3; //$bgrc;
                    cursor: pointer;
                    z-index: 10;

                    &:before {
                        position: absolute;
                        content: '';
                        height: 6px;
                        width: 40px;
                        background-color: #ffffff;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(45deg);
                    }

                    &:after {
                        position: absolute;
                        content: '';
                        height: 6px;
                        width: 40px;
                        background-color: #ffffff;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }

                }

            }

        }

        section.prices {
            //height: 100vh;

            .prices__title {
                width: 100%;
                background-image: url('../img/prices-bgr.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;

                .prices__title-inner {
                    max-width: 1120px;
                    width: 100%;
                    margin: 0px auto;
                    text-transform: uppercase;
                    font-size: 30px;
                    color: #000;
                    font-weight: 700;
                    padding: 0px 30px;
                    box-sizing: border-box;
                    height: 78px;
                    line-height: 78px;
                }

            }

            .prices__main {
                //height: calc(100vh - 78px);
                background-image: url('../img/bgr.jpg');
                background-color: $bgrc3;
                background-size: 400px 400px;
                background-blend-mode: multiply;

                .prices__items-inner {
                    max-width: 1120px;
                    width: 100%;
                    margin: 0px auto;
                    box-sizing: border-box;
                    padding: 10px;


                    .prices__items-parts {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-column-gap: 30px;
                        align-items: center;

                        .prices__items-part-left {
                            display: flex;
                            justify-content: flex-end;

                            .labels1 {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-end;

                                .label {
                                    height: 40px;
                                    font-size: 20px;
                                    margin: 10px 0;
                                    line-height: 40px;
                                    cursor: pointer;
                                    transition: .2s;

                                    &:hover,
                                    &.hover {
                                        color: $tc2;
                                    }

                                    &.active {
                                        color: lime;
                                    }

                                }
                            }

                            .switch1 {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                position: relative;
                                width: 40px;
                                margin-left: 10px;

                                .circle {
                                    width: 40px;
                                    height: 40px;
                                    background-color: rgb(0, 0, 0);
                                    border-radius: 50%;
                                    margin: 10px 0;
                                    cursor: pointer;
                                    z-index: 1;
                                    transition: .2s;
                                }

                                .block {
                                    position: absolute;
                                    width: 10px;
                                    height: 240px;
                                    background-color: rgb(2, 1, 1);
                                    left: 50%;
                                    top: 20px;
                                    transform: translate(-50%, 0);
                                }

                                .ball {
                                    position: absolute;
                                    width: 30px;
                                    height: 30px;
                                    background: rgb(255, 255, 255);
                                    background: radial-gradient(circle, rgb(255, 192, 192) 0%, rgb(204, 0, 0) 40%);
                                    border-radius: 50%;
                                    z-index: 10;
                                    transition: .2s;
                                }
                            }
                        }

                        .prices__items-part-right {
                            display: flex;
                            justify-content: flex-start;

                            .switch2 {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                position: relative;
                                width: 40px;
                                margin-right: 10px;

                                .circle {
                                    width: 40px;
                                    height: 40px;
                                    background-color: rgb(0, 0, 0);
                                    border-radius: 50%;
                                    margin: 10px 0;
                                    cursor: pointer;
                                    z-index: 1;
                                }

                                .block {
                                    position: absolute;
                                    width: 10px;
                                    height: 180px;
                                    background-color: rgb(0, 0, 0);
                                    left: 50%;
                                    top: 20px;
                                    transform: translate(-50%, 0);
                                }

                                .ball {
                                    position: absolute;
                                    width: 30px;
                                    height: 30px;
                                    background: rgb(255, 255, 255);
                                    background: radial-gradient(circle, rgb(255, 192, 192) 0%, rgb(204, 0, 0) 40%);
                                    border-radius: 50%;
                                    z-index: 10;
                                    transition: .2s;
                                }

                            }

                            .labels2 {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;

                                .label {
                                    height: 40px;
                                    font-size: 20px;
                                    margin: 10px 0;
                                    line-height: 40px;
                                    cursor: pointer;
                                    transition: .2s;

                                    &:hover,
                                    &.hover {
                                        color: $tc2;
                                    }

                                    &.active {
                                        color: lime;
                                    }
                                }
                            }
                        }
                    }

                    .final-price{
                        margin-left: 25%;
                        margin-bottom: 20px;
                        color: $tc2;
                        display: flex;

                        .final-price-title{
                            font-size: 20px;
                            margin-right: 10px;
                        }

                        .final-price-value{
                            font-style: italic;
                            font-size: 20px;
                            color: lime;;
                        }
                    }
                }
            }
        }
    }
}