@charset "UTF-8";
@import url("fonts.css");
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 14px;
  color: #fff;
}

body.lock {
  overflow: hidden;
}

body section.home {
  height: 100vh;
  background-image: url("../img/home-bgr.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body section.home header.header {
  background: #000080;
  z-index: 1;
  height: 100px;
}

body section.home header.header .header-container {
  max-width: 1020px;
  width: 100%;
  margin: 0px auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body section.home header.header .header-container .header__logobox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

body section.home header.header .header-container .header__logobox .header__logo {
  max-width: 80px;
  margin-right: 20px;
  z-index: 2;
}

body section.home header.header .header-container .header__logobox .header__logo img {
  width: 100%;
  border-radius: 0 10px 10px 0;
  display: block;
}

body section.home header.header .header-container .header__logobox .header__logohover {
  position: absolute;
  top: 50%;
  left: -100%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #ffb56c;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 1;
}

@media (max-width: 599px) {
  body section.home header.header .header-container .header__logobox .header__logohover {
    display: none;
  }
}

body section.home header.header .header-container .header__logobox .header__logohover.show {
  left: 0;
}

body section.home header.header .header-container .header__logobox .header__logohover div {
  max-height: 45px;
  max-width: 45px;
  margin: 0px 8px;
}

body section.home header.header .header-container .header__logobox .header__logohover div img {
  max-height: 45px;
}

body section.home header.header .header-container .header__logobox .header__logotitle {
  overflow: hidden;
  position: relative;
}

@media (max-width: 599px) {
  body section.home header.header .header-container .header__logobox .header__logotitle {
    display: none;
  }
}

body section.home header.header .header-container .header__logobox .header__logotitle:hover .block1 {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

body section.home header.header .header-container .header__logobox .header__logotitle:hover .block2 {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

body section.home header.header .header-container .header__logobox .header__logotitle .header__logotitle-block {
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 24px;
}

body section.home header.header .header-container .header__logobox .header__logotitle .header__logotitle-block.block1 {
  position: relative;
}

body section.home header.header .header-container .header__logobox .header__logotitle .header__logotitle-block.block2 {
  position: absolute;
}

body section.home header.header .header-container .header__links {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 899px) {
  body section.home header.header .header-container .header__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

body section.home header.header .header-container .header__links .header__menu {
  overflow: hidden;
  z-index: 100;
}

@media (max-width: 899px) {
  body section.home header.header .header-container .header__links .header__menu {
    z-index: 10;
    position: fixed;
    left: 0;
    top: 100px;
    width: 100%;
    height: 0%;
    color: #000;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
  }
  body section.home header.header .header-container .header__links .header__menu.active {
    height: calc(100vh - 100px);
  }
}

body section.home header.header .header-container .header__links .header__menu .header__menu-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 899px) {
  body section.home header.header .header-container .header__links .header__menu .header__menu-inner {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 100px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

body section.home header.header .header-container .header__links .header__menu .header__menu-inner .header__menu-item {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #fff;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: default;
}

@media (min-width: 900px) {
  body section.home header.header .header-container .header__links .header__menu .header__menu-inner .header__menu-item:before {
    position: absolute;
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #ffb56c;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: .2s;
    transition: .2s;
  }
  body section.home header.header .header-container .header__links .header__menu .header__menu-inner .header__menu-item.header__menu-item-selected:before {
    width: 50%;
  }
  body section.home header.header .header-container .header__links .header__menu .header__menu-inner .header__menu-item.header__menu-item-notSelected {
    cursor: pointer;
  }
  body section.home header.header .header-container .header__links .header__menu .header__menu-inner .header__menu-item.header__menu-item-notSelected:nth-child(1):after {
    content: 'Главная';
  }
  body section.home header.header .header-container .header__links .header__menu .header__menu-inner .header__menu-item.header__menu-item-notSelected:nth-child(2):after {
    content: 'Портфолио';
  }
  body section.home header.header .header-container .header__links .header__menu .header__menu-inner .header__menu-item.header__menu-item-notSelected:nth-child(3):after {
    content: 'Заказать';
  }
  body section.home header.header .header-container .header__links .header__menu .header__menu-inner .header__menu-item.header__menu-item-notSelected:nth-child(4):after {
    content: 'Контакты';
  }
  body section.home header.header .header-container .header__links .header__menu .header__menu-inner .header__menu-item.header__menu-item-notSelected:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #ffb56c;
    color: #000080;
    line-height: 44px;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  body section.home header.header .header-container .header__links .header__menu .header__menu-inner .header__menu-item.header__menu-item-notSelected:hover:after {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@media (max-width: 899px) {
  body section.home header.header .header-container .header__links .header__menu .header__menu-inner .header__menu-item {
    font-size: 36px;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    cursor: pointer;
    color: #000080;
    background-color: #fff;
    -webkit-transition: .3s;
    transition: .3s;
    border-bottom: 2px solid #000080;
  }
}

body section.home header.header .header-container .header__links .header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'icomoon';
  padding-right: 15px;
}

@media (max-width: 899px) {
  body section.home header.header .header-container .header__links .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

body section.home header.header .header-container .header__links .header__contacts .header__contacts-item {
  text-decoration: none;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section.home header.header .header-container .header__links .header__contacts .header__contacts-item:first-child {
  margin-right: 35px;
}

body section.home header.header .header-container .header__links .header__contacts .header__contacts-item:first-child .header__contacts-item-before:before {
  content: "\f095";
}

body section.home header.header .header-container .header__links .header__contacts .header__contacts-item:last-child .header__contacts-item-before:before {
  content: "\f003";
}

body section.home header.header .header-container .header__links .header__contacts .header__contacts-item:hover .header__contacts-item-text {
  color: #ffb56c;
}

body section.home header.header .header-container .header__links .header__contacts .header__contacts-item:hover .header__contacts-item-before {
  -webkit-animation: rotate .15s;
          animation: rotate .15s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
}

body section.home header.header .header-container .header__links .header__contacts .header__contacts-item .header__contacts-item-before {
  margin-right: 5px;
}

body section.home header.header .header-container .header__links .header__contacts .header__contacts-item .header__contacts-item-before:before {
  font-family: 'icomoon';
  font-size: 24px;
  color: lime;
}

body section.home header.header .header-container .header__links .header__contacts .header__contacts-item .header__contacts-item-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #ffffff;
  -webkit-transition: .3s;
  transition: .3s;
}

body section.home header.header .header-container .header__links .header__burger {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: none;
  width: 60px;
  height: 45px;
  position: relative;
  cursor: pointer;
}

@media (max-width: 899px) {
  body section.home header.header .header-container .header__links .header__burger {
    display: block;
  }
}

body section.home header.header .header-container .header__links .header__burger span {
  position: absolute;
  left: 0;
  top: 19.5px;
  width: 60px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

body section.home header.header .header-container .header__links .header__burger:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

body section.home header.header .header-container .header__links .header__burger:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

body section.home header.header .header-container .header__links .header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

body section.home header.header .header-container .header__links .header__burger.active:before {
  -webkit-transform: rotate(135deg) scale(1) translate(13.79px, -13.7px);
          transform: rotate(135deg) scale(1) translate(13.79px, -13.7px);
}

body section.home header.header .header-container .header__links .header__burger.active:after {
  -webkit-transform: rotate(-135deg) scale(1) translate(13.79px, 13.7px);
          transform: rotate(-135deg) scale(1) translate(13.79px, 13.7px);
}

body section.home .home__titlebox {
  height: calc(100vh - 300px);
}

body section.home .home__descbox {
  background: #000080;
  height: 200px;
}

body section.portfolio {
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */