@charset "UTF-8";
@import url("fonts.css");
:root {
  --anim1_time: 6s;
  --anim2_time: .5s;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes animButton {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(3);
            transform: scale(3);
    opacity: 0;
  }
}

@keyframes animButton {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(3);
            transform: scale(3);
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 14px;
  color: #fff;
  scroll-behavior: smooth;
}

body.lock {
  overflow: hidden;
}

body header.header {
  background-image: url("../img/bgr.jpg");
  background-color: #0f8ac4;
  background-size: 400px 400px;
  background-blend-mode: multiply;
  height: 200px;
  z-index: 1;
  height: 100px;
}

@media (max-width: 599px) {
  body header.header {
    height: 65px;
  }
}

body header.header .header-container {
  max-width: 1020px;
  width: 100%;
  margin: 0px auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header.header .header-container .header__logobox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

body header.header .header-container .header__logobox .header__logo {
  max-width: 80px;
  margin-right: 20px;
  z-index: 2;
}

@media (max-width: 599px) {
  body header.header .header-container .header__logobox .header__logo {
    max-width: 60px;
    margin-right: 5px;
  }
}

body header.header .header-container .header__logobox .header__logo img {
  width: 100%;
  border-radius: 0 10px 10px 0;
  display: block;
}

body header.header .header-container .header__logobox .header__logohover {
  position: absolute;
  top: 50%;
  left: -100%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #ffb56c;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 1;
}

@media (max-width: 599px) {
  body header.header .header-container .header__logobox .header__logohover {
    display: none;
  }
}

body header.header .header-container .header__logobox .header__logohover.show {
  left: 0;
}

body header.header .header-container .header__logobox .header__logohover div {
  max-height: 45px;
  max-width: 45px;
  margin: 0px 8px;
}

body header.header .header-container .header__logobox .header__logohover div img {
  max-height: 45px;
}

body header.header .header-container .header__logobox .header__logotitle {
  overflow: hidden;
  position: relative;
}

@media (max-width: 599px) {
  body header.header .header-container .header__logobox .header__logotitle {
    display: none;
  }
}

body header.header .header-container .header__logobox .header__logotitle:hover .block1 {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

body header.header .header-container .header__logobox .header__logotitle:hover .block2 {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

body header.header .header-container .header__logobox .header__logotitle .header__logotitle-block {
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 24px;
}

body header.header .header-container .header__logobox .header__logotitle .header__logotitle-block.block1 {
  position: relative;
}

body header.header .header-container .header__logobox .header__logotitle .header__logotitle-block.block2 {
  position: absolute;
}

body header.header .header-container .header__links {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 899px) {
  body header.header .header-container .header__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

body header.header .header-container .header__links .header__menu {
  overflow: hidden;
  z-index: 100;
}

@media (max-width: 899px) {
  body header.header .header-container .header__links .header__menu {
    z-index: 10;
    position: fixed;
    left: 0;
    top: 100px;
    width: 100%;
    height: 0%;
    color: #000;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
  }
  body header.header .header-container .header__links .header__menu.active {
    height: calc(100vh - 100px);
  }
}

@media (max-width: 899px) and (max-width: 599px) {
  body header.header .header-container .header__links .header__menu.active {
    height: calc(100vh - 65px);
  }
}

@media (max-width: 599px) {
  body header.header .header-container .header__links .header__menu {
    top: 65px;
  }
}

body header.header .header-container .header__links .header__menu .header__menu-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 899px) {
  body header.header .header-container .header__links .header__menu .header__menu-inner {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 100px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 599px) {
  body header.header .header-container .header__links .header__menu .header__menu-inner {
    height: calc(100vh - 65px);
  }
}

body header.header .header-container .header__links .header__menu .header__menu-inner .header__menu-item {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #fff;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: default;
}

@media (min-width: 900px) {
  body header.header .header-container .header__links .header__menu .header__menu-inner .header__menu-item:before {
    position: absolute;
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #ffb56c;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: .2s;
    transition: .2s;
  }
  body header.header .header-container .header__links .header__menu .header__menu-inner .header__menu-item.header__menu-item-selected:before {
    width: 50%;
  }
  body header.header .header-container .header__links .header__menu .header__menu-inner .header__menu-item.header__menu-item-notSelected {
    cursor: pointer;
  }
  body header.header .header-container .header__links .header__menu .header__menu-inner .header__menu-item.header__menu-item-notSelected:nth-child(1):after {
    content: 'Главная';
  }
  body header.header .header-container .header__links .header__menu .header__menu-inner .header__menu-item.header__menu-item-notSelected:nth-child(2):after {
    content: 'Обо мне';
  }
  body header.header .header-container .header__links .header__menu .header__menu-inner .header__menu-item.header__menu-item-notSelected:nth-child(3):after {
    content: 'Услуги';
  }
  body header.header .header-container .header__links .header__menu .header__menu-inner .header__menu-item.header__menu-item-notSelected:nth-child(4):after {
    content: 'Портфолио';
  }
  body header.header .header-container .header__links .header__menu .header__menu-inner .header__menu-item.header__menu-item-notSelected:nth-child(5):after {
    content: 'Заказать';
  }
  body header.header .header-container .header__links .header__menu .header__menu-inner .header__menu-item.header__menu-item-notSelected:nth-child(6):after {
    content: 'Контакты';
  }
  body header.header .header-container .header__links .header__menu .header__menu-inner .header__menu-item.header__menu-item-notSelected:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #ffb56c;
    color: #000080;
    line-height: 44px;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  body header.header .header-container .header__links .header__menu .header__menu-inner .header__menu-item.header__menu-item-notSelected:hover:after {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@media (max-width: 899px) {
  body header.header .header-container .header__links .header__menu .header__menu-inner .header__menu-item {
    font-size: 36px;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    cursor: pointer;
    color: #000080;
    background-color: #fff;
    -webkit-transition: .3s;
    transition: .3s;
    border-bottom: 2px solid #000080;
  }
}

body header.header .header-container .header__links .header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'icomoon';
  padding-right: 15px;
}

@media (max-width: 899px) {
  body header.header .header-container .header__links .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-right: 0px;
  }
}

body header.header .header-container .header__links .header__contacts .header__contacts-item {
  text-decoration: none;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 900px) {
  body header.header .header-container .header__links .header__contacts .header__contacts-item:first-child {
    margin-right: 35px;
  }
}

body header.header .header-container .header__links .header__contacts .header__contacts-item:first-child .header__contacts-item-before:before {
  content: "\f095";
}

body header.header .header-container .header__links .header__contacts .header__contacts-item:last-child .header__contacts-item-before:before {
  content: "\f003";
}

body header.header .header-container .header__links .header__contacts .header__contacts-item:hover .header__contacts-item-text {
  color: #ffb56c;
}

body header.header .header-container .header__links .header__contacts .header__contacts-item:hover .header__contacts-item-before {
  -webkit-animation: rotate .15s;
          animation: rotate .15s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
}

body header.header .header-container .header__links .header__contacts .header__contacts-item .header__contacts-item-before {
  margin-right: 5px;
}

body header.header .header-container .header__links .header__contacts .header__contacts-item .header__contacts-item-before:before {
  font-family: 'icomoon';
  font-size: 24px;
  color: lime;
}

body header.header .header-container .header__links .header__contacts .header__contacts-item .header__contacts-item-text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #ffffff;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 899px) {
  body header.header .header-container .header__links .header__contacts .header__contacts-item {
    padding-left: 0;
  }
}

body header.header .header-container .header__links .header__burger {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: none;
  width: 60px;
  height: 45px;
  position: relative;
  margin-left: 10px;
  cursor: pointer;
}

@media (max-width: 899px) {
  body header.header .header-container .header__links .header__burger {
    display: block;
  }
}

body header.header .header-container .header__links .header__burger span {
  position: absolute;
  left: 0;
  top: 19.5px;
  width: 60px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

body header.header .header-container .header__links .header__burger:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

body header.header .header-container .header__links .header__burger:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

body header.header .header-container .header__links .header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

body header.header .header-container .header__links .header__burger.active:before {
  -webkit-transform: rotate(135deg) scale(1) translate(13.79px, -13.7px);
          transform: rotate(135deg) scale(1) translate(13.79px, -13.7px);
}

body header.header .header-container .header__links .header__burger.active:after {
  -webkit-transform: rotate(-135deg) scale(1) translate(13.79px, 13.7px);
          transform: rotate(-135deg) scale(1) translate(13.79px, 13.7px);
}

@media (max-width: 899px) {
  body section.content {
    height: calc(100vh - 100px);
    overflow: auto;
    scroll-behavior: smooth;
  }
}

@media (max-width: 599px) {
  body section.content {
    height: calc(100vh - 65px);
  }
}

body section.content .jump-top {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: rgba(122, 122, 122, 0.521);
  z-index: 1000;
  -webkit-transition: .3s;
  transition: .3s;
}

body section.content .jump-top:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

body section.content .jump-top:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "\f062";
  font-family: 'icomoon';
  font-size: 40px;
  color: rgba(0, 0, 0, 0.507);
  -webkit-transition: .3s;
  transition: .3s;
}

body section.content .jump-top:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  font-size: 40px;
  color: rgba(0, 0, 0, 0.507);
  -webkit-transition: .3s;
  transition: .3s;
}

body section.content .jump-top:hover:after {
  color: rgba(255, 255, 255, 0.541);
}

@media (max-width: 899px) {
  body section.content .jump-top {
    display: none;
  }
}

body section.content section.home {
  height: calc(100vh - 100px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

@media (max-width: 599px) {
  body section.content section.home {
    height: calc(100vh - 65px);
  }
}

body section.content section.home .home__titlebox {
  height: calc(100vh - 300px);
  position: relative;
}

body section.content section.home .home__titlebox .home__titlebox-inner {
  max-width: 1020px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section.content section.home .home__titlebox .home__titlebox-inner h1.home__titlebox-title {
  max-width: 50%;
  color: #000080;
  font-size: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section.content section.home .home__titlebox .home__titlebox-inner h1.home__titlebox-title .home__titlebox-word {
  background-color: #fff;
  padding: 0px 10px;
  position: relative;
  left: -1000%;
}

body section.content section.home .home__titlebox .home__titlebox-inner h1.home__titlebox-title .home__titlebox-word:not(:last-child) {
  margin-bottom: 5px;
}

@media (max-width: 599px) {
  body section.content section.home .home__titlebox {
    height: calc(100vh - (200px + 65px));
  }
}

body section.content section.home .home__titlebox .home__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

body section.content section.home .home__titlebox .home__slider .home__slider-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body section.content section.home .home__titlebox .home__slider .home__slider-item:nth-child(1) {
  background-image: url("../img/home-bgr/home-bgr1.jpg");
}

body section.content section.home .home__titlebox .home__slider .home__slider-item:nth-child(2) {
  background-image: url("../img/home-bgr/home-bgr2.jpg");
}

body section.content section.home .home__titlebox .home__slider .home__slider-item:nth-child(3) {
  background-image: url("../img/home-bgr/home-bgr3.jpg");
}

body section.content section.home .home__titlebox .home__slider .home__slider-item:nth-child(4) {
  background-image: url("../img/home-bgr/home-bgr4.jpg");
}

body section.content section.home .home__titlebox .home__slider .home__slider-item:nth-child(5) {
  background-image: url("../img/home-bgr/home-bgr5.jpg");
}

body section.content section.home .home__titlebox .home__slider .home__slider-item:nth-child(6) {
  background-image: url("../img/home-bgr/home-bgr6.jpg");
}

body section.content section.home .home__titlebox .home__slider .home__slider-item:nth-child(7) {
  background-image: url("../img/home-bgr/home-bgr7.jpg");
}

body section.content section.home .home__titlebox .home__slider .home__slider-item.anim1 {
  -webkit-transition: -webkit-transform 6s linear;
  transition: -webkit-transform 6s linear;
  transition: transform 6s linear;
  transition: transform 6s linear, -webkit-transform 6s linear;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body section.content section.home .home__titlebox .home__slider .home__slider-item.anim2 {
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0;
}

body section.content section.home .home__descbox {
  background-image: url("../img/bgr.jpg");
  background-color: #0f8ac4;
  background-size: 400px 400px;
  background-blend-mode: multiply;
  height: 200px;
}

body section.content section.about {
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../img/about-bgr.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

@media (max-width: 899px) {
  body section.content section.about {
    height: calc(100vh - 100px);
  }
}

@media (max-width: 599px) {
  body section.content section.about {
    height: calc(100vh - 65px);
  }
}

body section.content section.about.adaptive {
  height: auto;
  padding-top: 100px;
}

body section.content section.about .about__description {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("../img/bgr.jpg");
  background-color: #0f8ac4;
  background-size: 400px 400px;
  background-blend-mode: multiply;
}

body section.content section.about .about__description.adaptive {
  position: static;
}

body section.content section.about .about__description .about__description-inner {
  max-width: 1120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body section.content section.about .about__description .about__description-inner .about__title {
  text-transform: uppercase;
  font-size: 30px;
  color: #FFF;
  font-weight: 700;
  padding: 20px 10px;
  margin: 0px 10px;
}

body section.content section.about .about__description .about__description-inner .about__text {
  font-size: 20px;
  color: #FFF;
  font-weight: 400;
  padding: 0px 10px 10px;
  margin: 0px 10px;
  text-indent: 40px;
}

body section.content section.about .about__description .about__description-inner .about__achievements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body section.content section.about .about__description .about__description-inner .about__achievements .about__achievements-item {
  border-radius: 2px;
  overflow: hidden;
  margin: 0px 5px 10px;
}

body section.content section.about .about__description .about__description-inner .about__achievements .about__achievements-item.load {
  position: relative;
}

body section.content section.about .about__description .about__description-inner .about__achievements .about__achievements-item.load:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
}

body section.content section.about .about__description .about__description-inner .about__achievements .about__achievements-item.load:after {
  position: absolute;
  content: url("../img/oval.svg");
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 11;
}

body section.content section.about .about__description .about__description-inner .about__achievements .about__achievements-item:hover img {
  -webkit-transform: scale(1.42);
          transform: scale(1.42);
  cursor: pointer;
}

body section.content section.about .about__description .about__description-inner .about__achievements .about__achievements-item img {
  max-height: 200px;
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
}

body section.content section.services {
  height: 100vh;
}

@media (max-width: 899px) {
  body section.content section.services {
    height: auto;
  }
}

body section.content section.services .services__title {
  width: 100%;
  background-image: url("../img/services-brg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body section.content section.services .services__title .services__title-inner {
  max-width: 1120px;
  width: 100%;
  margin: 0px auto;
  text-transform: uppercase;
  font-size: 30px;
  color: #000;
  font-weight: 700;
  padding: 0px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 78px;
  line-height: 78px;
}

body section.content section.services .services__items {
  height: calc(100vh - 78px);
  background-image: url("../img/bgr.jpg");
  background-color: #0f8ac4;
  background-size: 400px 400px;
  background-blend-mode: multiply;
}

@media (max-width: 899px) {
  body section.content section.services .services__items {
    height: auto;
  }
}

body section.content section.services .services__items .services__items-inner {
  max-width: 1120px;
  height: 100%;
  width: 100%;
  padding: 10px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

@media (max-width: 899px) {
  body section.content section.services .services__items .services__items-inner {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
  }
}

body section.content section.services .services__items .services__items-inner .services__item {
  border-radius: 10px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 10px;
}

body section.content section.services .services__items .services__items-inner .services__item:nth-child(3) .services__item-img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body section.content section.services .services__items .services__items-inner .services__item .services__item-titlebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
}

body section.content section.services .services__items .services__items-inner .services__item .services__item-titlebox .services__item-title-icon {
  max-width: 40px;
}

body section.content section.services .services__items .services__items-inner .services__item .services__item-titlebox .services__item-title-icon img {
  display: block;
  max-width: 100%;
}

body section.content section.services .services__items .services__items-inner .services__item .services__item-titlebox .services__item-title {
  text-align: center;
  padding: 15px 0;
  font-size: 20px;
  color: #a55200;
  margin-left: 10px;
}

body section.content section.services .services__items .services__items-inner .services__item .services__item-img {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 20px 10px;
}

body section.content section.services .services__items .services__items-inner .services__item .services__item-img.services__item-img0, body section.content section.services .services__items .services__items-inner .services__item .services__item-img.services__item-img2, body section.content section.services .services__items .services__items-inner .services__item .services__item-img.services__item-img3 {
  position: relative;
}

@media (max-width: 899px) {
  body section.content section.services .services__items .services__items-inner .services__item .services__item-img.services__item-img0, body section.content section.services .services__items .services__items-inner .services__item .services__item-img.services__item-img2, body section.content section.services .services__items .services__items-inner .services__item .services__item-img.services__item-img3 {
    min-height: 300px;
    height: 100%;
  }
}

body section.content section.services .services__items .services__items-inner .services__item .services__item-img.services__item-img0 img, body section.content section.services .services__items .services__items-inner .services__item .services__item-img.services__item-img2 img, body section.content section.services .services__items .services__items-inner .services__item .services__item-img.services__item-img3 img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
  display: block;
}

body section.content section.services .services__items .services__items-inner .services__item .services__item-img.services__item-img0 img {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

body section.content section.services .services__items .services__items-inner .services__item .services__item-img.services__item-img2 img {
  opacity: 0;
}

body section.content section.services .services__items .services__items-inner .services__item .services__item-img.services__item-img3 {
  border: 3px solid transparent;
}

body section.content section.services .services__items .services__items-inner .services__item .services__item-img.services__item-img3 img {
  display: block;
  -webkit-transition: none;
  transition: none;
}

body section.content section.services .services__items .services__items-inner .services__item .services__item-img.services__item-img3 img:hover {
  border: 3px solid black;
  cursor: pointer;
}

body section.content section.services .services__items .services__items-inner .services__item .services__item-img.services__item-img3.load {
  position: relative;
}

body section.content section.services .services__items .services__items-inner .services__item .services__item-img.services__item-img3.load:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
}

body section.content section.services .services__items .services__items-inner .services__item .services__item-img.services__item-img3.load:after {
  position: absolute;
  content: url("../img/oval.svg");
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 11;
}

body section.content section.services .services__items .services__items-inner .services__item .services__item-img img {
  max-height: 100%;
  max-width: 100%;
  display: block;
}

body section.content section.services .services__items .services__items-inner .services__item .services__item-img .img-wrapper img {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

body section.content section.services .services__items .services__items-inner .services__item .services__item-text {
  color: #000000;
  padding: 0 20px;
}

body section.content section.services .services__items .services__items-inner .services__item .services__item-text .services__item-subtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5px 20px 0px;
}

body section.content section.services .services__items .services__items-inner .services__item .services__item-text .services__item-subtext img {
  max-width: 100%;
  display: block;
  max-height: 25px;
  margin: 0px 2px;
}

body section.content section.portfolio {
  max-width: 1120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
}

body section.content section.portfolio .portfolio__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body section.content section.portfolio .portfolio__title .portfolio__burger {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: none;
  width: 60px;
  height: 45px;
  position: relative;
  margin-left: 10px;
  cursor: pointer;
}

@media (max-width: 899px) {
  body section.content section.portfolio .portfolio__title .portfolio__burger {
    display: block;
  }
}

body section.content section.portfolio .portfolio__title .portfolio__burger span {
  position: absolute;
  left: 0;
  top: 19.5px;
  width: 60px;
  height: 6px;
  border-radius: 3px;
  background-color: #a55200;
  -webkit-transition: .3s;
  transition: .3s;
}

body section.content section.portfolio .portfolio__title .portfolio__burger:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 6px;
  border-radius: 3px;
  background-color: #a55200;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

body section.content section.portfolio .portfolio__title .portfolio__burger:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 6px;
  border-radius: 3px;
  background-color: #a55200;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

body section.content section.portfolio .portfolio__title .portfolio__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

body section.content section.portfolio .portfolio__title .portfolio__burger.active:before {
  -webkit-transform: rotate(135deg) scale(1) translate(13.79px, -13.7px);
          transform: rotate(135deg) scale(1) translate(13.79px, -13.7px);
}

body section.content section.portfolio .portfolio__title .portfolio__burger.active:after {
  -webkit-transform: rotate(-135deg) scale(1) translate(13.79px, 13.7px);
          transform: rotate(-135deg) scale(1) translate(13.79px, 13.7px);
}

body section.content section.portfolio .portfolio__title .portfolio__title-text {
  text-transform: uppercase;
  font-size: 30px;
  color: #000;
  font-weight: 700;
  padding: 20px 10px;
  margin: 0px 10px;
}

body section.content section.portfolio .portfolio__title .portfolio__title-text span:last-child {
  text-transform: none;
  font-style: italic;
  font-size: 24px;
  font-weight: 400;
  color: #a55200;
}

body section.content section.portfolio .portfolio__menu {
  height: 48px;
  margin: 0px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
}

@media (max-width: 899px) {
  body section.content section.portfolio .portfolio__menu {
    position: absolute;
    top: 76px;
    left: 0;
    height: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    -webkit-transition: .3s;
    transition: .3s;
  }
  body section.content section.portfolio .portfolio__menu.active {
    height: 195px;
  }
}

body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[6];
      grid-template-columns: repeat(6, auto);
  width: 100%;
  height: 100%;
}

@media (max-width: 899px) {
  body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner {
    display: block;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item {
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
  position: relative;
}

@media (max-width: 899px) {
  body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item {
    text-align: left;
    font-size: 20px;
    padding: 10px 0px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-left: 10px;
  }
}

body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item.active {
  background-color: #000080;
  color: #ffffff;
}

body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item.active .blockl1 {
  border-top: 6px solid #000080;
  border-right: 6px solid #000080;
}

body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item.active .blockl2 {
  border-right: 12px solid #000080;
}

body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item.active .blockl3 {
  border-right: 6px solid #000080;
  border-bottom: 6px solid #000080;
}

body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item.active .blockr1 {
  border-left: 12px solid #000080;
}

body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item.active .blockr2 {
  border-left: 12px solid #000080;
}

body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item:not(:first-child) {
  margin-left: 7px;
}

@media (max-width: 899px) {
  body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item:not(:first-child) {
    margin-left: 0px;
  }
}

body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item:not(:last-child) {
  margin-right: 7px;
}

@media (max-width: 899px) {
  body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item:not(:last-child) {
    margin-right: 0px;
  }
}

body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item:hover {
  background-color: #2e2eff;
  color: #ffffff;
}

body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item:hover .blockl1 {
  border-top: 6px solid #2e2eff;
  border-right: 6px solid #2e2eff;
}

body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item:hover .blockl2 {
  border-right: 12px solid #2e2eff;
}

body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item:hover .blockl3 {
  border-right: 6px solid #2e2eff;
  border-bottom: 6px solid #2e2eff;
}

body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item:hover .blockr1 {
  border-left: 12px solid #2e2eff;
}

body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item:hover .blockr2 {
  border-left: 12px solid #2e2eff;
}

body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item .blockl1 {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  border-top: 6px solid #ccc;
  border-right: 6px solid #ccc;
  border-left: 6px solid transparent;
  border-bottom: 6px solid transparent;
  -webkit-transition: .2s;
  transition: .2s;
}

body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item .blockl2 {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  -webkit-transform: translate(-100%, 50%);
          transform: translate(-100%, 50%);
  border-right: 12px solid #ccc;
  border-top: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 12px solid transparent;
  -webkit-transition: .2s;
  transition: .2s;
}

body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item .blockl3 {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-100%, 0%);
          transform: translate(-100%, 0%);
  border-right: 6px solid #ccc;
  border-bottom: 6px solid #ccc;
  border-top: 6px solid transparent;
  border-left: 6px solid transparent;
  -webkit-transition: .2s;
  transition: .2s;
}

body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item .blockr1 {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  border-left: 12px solid #ccc;
  border-top: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid transparent;
  -webkit-transition: .2s;
  transition: .2s;
}

body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item .blockr2 {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  border-left: 12px solid #ccc;
  border-top: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid transparent;
  -webkit-transition: .2s;
  transition: .2s;
}

@media (max-width: 899px) {
  body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item .blockl1,
  body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item .blockl2,
  body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item .blockl3,
  body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item .blockr1,
  body section.content section.portfolio .portfolio__menu nav.portfolio__menu-inner .portfolio__menu-item .blockr2 {
    display: none;
  }
}

body section.content section.portfolio .portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 5px 200px;
  position: relative;
}

body section.content section.portfolio .portfolio__items .portfolio__item {
  height: 200px;
  width: 100%;
  background-color: red;
  overflow: hidden;
  border-radius: 10px;
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
}

body section.content section.portfolio .portfolio__items .portfolio__item:hover .portfolio__item-hover {
  opacity: 1;
}

body section.content section.portfolio .portfolio__items .portfolio__item:hover .portfolio__item-hover .portfolio__item-hover-title {
  left: 0;
}

body section.content section.portfolio .portfolio__items .portfolio__item:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body section.content section.portfolio .portfolio__items .portfolio__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .3s;
  transition: .3s;
}

body section.content section.portfolio .portfolio__items .portfolio__item .portfolio__item-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body section.content section.portfolio .portfolio__items .portfolio__item .portfolio__item-hover .portfolio__item-hover-title {
  font-size: 18px;
  color: #ffffff;
  margin-top: 10px;
  padding: 0px 10px;
  text-align: center;
  position: relative;
  left: -100%;
  -webkit-transition: .2s;
  transition: .2s;
}

body section.content section.portfolio .portfolio__items .portfolio__item .portfolio__item-hover .portfolio__item-hover-button {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1149c2;
  z-index: 2;
  bottom: 25px;
  right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 35px;
  color: #ffffff;
  cursor: pointer;
}

body section.content section.portfolio .portfolio__items .portfolio__item .portfolio__item-hover .portfolio__item-hover-button .portfolio__item-hover-button-inner {
  z-index: 1;
}

body section.content section.portfolio .portfolio__items .portfolio__item .portfolio__item-hover .portfolio__item-hover-button .portfolio__item-hover-button-inner:before {
  position: absolute;
  top: -5px;
  left: 0;
  font-family: 'icomoon';
  font-size: 53px;
  content: "\f00e";
  color: #ffb56c;
}

body section.content section.portfolio .portfolio__items .portfolio__item .portfolio__item-hover .portfolio__item-hover-button:before, body section.content section.portfolio .portfolio__items .portfolio__item .portfolio__item-hover .portfolio__item-hover-button:after {
  content: '';
  top: 0;
  left: 0;
  border-radius: 50%;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #1149c2;
  -webkit-animation: animButton 1.25s infinite;
          animation: animButton 1.25s infinite;
}

body section.content section.portfolio .portfolio__items .portfolio__item .portfolio__item-hover .portfolio__item-hover-button:after {
  -webkit-animation: animButton 1.25s .25s infinite;
          animation: animButton 1.25s .25s infinite;
}

body section.content section.portfolio .portfolio__modal {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 22, 0, 0.9);
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

body section.content section.portfolio .portfolio__modal .portfolio__modal-slider {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

body section.content section.portfolio .portfolio__modal #modalSliderNew {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .4s;
  transition: .4s;
}

body section.content section.portfolio .portfolio__modal #modalSliderNew.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

body section.content section.portfolio .portfolio__modal #modalSliderNew img.only {
  max-width: 100%;
}

body section.content section.portfolio .portfolio__modal .portfolio__modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: #a55200;
  cursor: pointer;
  z-index: 10;
}

body section.content section.portfolio .portfolio__modal .portfolio__modal-close:before {
  position: absolute;
  content: '';
  height: 6px;
  width: 40px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

body section.content section.portfolio .portfolio__modal .portfolio__modal-close:after {
  position: absolute;
  content: '';
  height: 6px;
  width: 40px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

body section.content section.calculate {
  height: 100vh;
  background-color: #ccc;
}
/*# sourceMappingURL=style.css.map */